:root {
	--font-montserrat: "Montserrat", sans-serif;
	--font-rodetta: "Rodetta";
	--font-dating: "Dating";
	--font-hello: "Hello";
	--font-hatton: "PP Hatton";
	--font-bacalisties: "Bacalisties";
	--font-bosque: "BOSQUE";
	--font-nesans: "NesansSemiBold";
	--font-blancha: "Blancha";
	--font-wildoaklands: "WildOaklands";
	--FFF: #fff;
	--000: #000;
	--333: #333;
	--FFF: #fff;
	--666: #666;
	--F7F1DA: #f7f1da;
	--627463: #627463;
	--8F6C04: #8f6c04;
	--4F4F4F: #4f4f4f;
	--A48136: #a48136;
	--F9F6EC: #f9f6ec;
	--D5D9D0: #D5D9D0;
}

.font {
	&--nesans {
		font-family: var(--font-nesans) !important;
	}
	&--blancha {
		font-family: var(--font-blancha) !important;
	}
	&--bosque {
		font-family: var(--font-bosque) !important;
	}
	&--wildoaklands {
		font-family: var(--font-wildoaklands) !important;
	}
}

.ls {
	&--10 {
		letter-spacing: 4px;

		@media only screen and (min-width: 1024px) {
			letter-spacing: 10px;
		}
	}
}

.color {
	&--FFF {
		color: var(--FFF) !important;
	}
	&--000 {
		color: var(--000) !important;
	}
	&--333 {
		color: var(--333) !important;
	}
	&--666 {
		color: var(--666) !important;
	}
	&--F7F1DA {
		color: var(--F7F1DA) !important;
	}
	&--627463 {
		color: var(--627463) !important;
	}
	&--8F6C04 {
		color: var(--8F6C04) !important;
	}
	&--4F4F4F {
		color: var(--4F4F4F) !important;
	}
}

.heading {
	&--14 {
		font-size: 14px;
		font-style: normal;
		font-weight: 400;
		line-height: 28px;
	}

	&--16 {
		font-size: 16px;
		font-style: normal;
		font-weight: 400;
		line-height: 22px;
	}

	&--18 {
		font-size: 16px;
		font-style: normal;
		font-weight: 400;
		line-height: 26px;
		letter-spacing: 0.8px;

		@media only screen and (min-width: 1024px) {
			font-size: 18px;
			line-height: 28px;
			letter-spacing: 1.8px;
		}
	}

	&--20 {
		font-size: 20px;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
		letter-spacing: 10px;
		text-transform: uppercase;
	}

	&--24 {
		font-size: 18px;
		font-style: normal;
		font-weight: 400;
		line-height: 22px;

		@media only screen and (min-width: 1024px) {
			font-size: 24px;
			line-height: 28px;
		}
	}

	&--26 {
		font-size: 26px;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
		letter-spacing: 2.6px;
	}

	&--28 {
		font-size: 20px;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
		letter-spacing: 1px;
		text-transform: uppercase;

		@media only screen and (min-width: 1024px) {
			font-size: 28px;
			letter-spacing: 2.8px;
		}
	}

	&--32 {
		font-size: 22px;
		font-style: normal;
		font-weight: 400;
		line-height: 20px;

		@media only screen and (min-width: 1024px) {
			font-size: 32px;
			line-height: 28px;
		}
	}

	&--36 {
		font-size: 26px;
		font-style: normal;
		font-weight: 400;
		line-height: 28px;
		letter-spacing: 1.6px;

		@media only screen and (min-width: 1024px) {
			font-size: 36px;
			letter-spacing: 3.6px;
		}
	}

	&--48 {
		font-size: 34px;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
		letter-spacing: 14px;

		@media only screen and (min-width: 1024px) {
			font-size: 48px;
			letter-spacing: 24px;
		}
	}

	&--54 {
		font-family: var(--font-wildoaklands);
		font-size: 38px;
		font-style: normal;
		font-weight: 400;
		line-height: normal;

		@media only screen and (min-width: 1024px) {
			font-size: 54px;
		}
	}

	&--96 {
		font-family: var(--font-wildoaklands);
		font-size: 45px;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
		letter-spacing: 1.8px;

		@media only screen and (min-width: 1024px) {
			font-size: 96px;
			letter-spacing: 4.8px;
		}
	}
}

.button {
	font-family: "Libre Baskerville", serif;
	display: flex;
	align-items: center;
	justify-content: center;
	width: max-content;
	padding: 11px 30px;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 28px;
	text-transform: uppercase;
	text-transform: uppercase;
	text-decoration: none;
	background-color: transparent;

	@media only screen and (min-width: 1024px) {
		font-size: 14px;
	}

	&--center {
		margin: 0 auto;
	}

	&--left {
		margin: 0 auto;
		@media only screen and (min-width: 1024px) {
			margin: 0;
		}
	}

	&--primary {
		min-width: 140px;
		color: var(--8F6C04);
		border: 1px solid var(--8F6C04);

		@media only screen and (min-width: 1024px) {
			min-width: 140px;
		}
	}

	&--secondary {
		color: var(--FFF);
		border: 0;
		background-color: var(--627463);
		@media only screen and (min-width: 1024px) {
			min-width: 200px;
		}
	}

	&--small {
		min-width: 140px;
		font-size: 14px;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
		color: var(--8F6C04);
		border: 1px solid var(--8F6C04);
	}
}

.space {
	display: block;
	width: 100%;

	&--10 {
		height: 10px;
	}

	&--20 {
		height: 20px;
	}

	&--30 {
		height: 30px;
	}

	&--40 {
		height: 40px;
	}

	&--50 {
		height: 50px;
	}

	&--200 {
		height: 80px;

		@media only screen and (min-width: 1024px) {
			height: 200px;
		}
	}
}

.line {
	display: block;

	&--small {
		width: 85px;
		height: 2px;
		margin: 0 auto;
		background-color: var(--A48136);
	}

	&--left {
		margin: 0;
	}

	&--4F4F4F {
		background-color: var(--4F4F4F);
	}
}

.grid {
	display: grid;
	row-gap: 20px;

	@media only screen and (min-width: 1024px) {
		max-width: 540px;
		margin: 0 auto;

		&--2 {
			grid-template-columns: repeat(2, 1fr);
		}
	}

	&--column {
		&-10 {
			column-gap: 10px;
		}

		&-40 {
			column-gap: 40px;
		}
	}

	&--align {
		&-center {
			align-items: center;
		}
	}

	div {
		position: relative;

		@media only screen and (min-width: 1024px) {
			&:first-child {
				&::before {
					content: "";
					display: block;
					position: absolute;
					top: 0;
					right: 0;
					width: 1px;
					height: 100%;
					border-right: 1px solid var(--8F6C04);
				}
			}
		}
	}
}

.spacing {
	&--normal {
		letter-spacing: normal;
	}

	&--1 {
		letter-spacing: 1.4px;
	}

	&--6 {
		letter-spacing: 6px;
	}

	&--10 {
		letter-spacing: 10px;
	}
}

.line {
	&--height {
		&-normal {
			line-height: normal;
		}
	}
}

.text {
	&--center {
		text-align: center;
	}

	&--left {
		text-align: left;
	}

	&--right {
		text-align: right;
	}
}

.visibleDesktop {
	display: none;
	@media only screen and (min-width: 1024px) {
		display: block;
	}
}

.visibleMobile {
	@media only screen and (min-width: 1024px) {
		display: none;
	}
}
